.experience{
    background-color: #ffd248;
}

.back{
    margin-top: 1vh;
    margin-right: 92.5vw;
    border-radius: 20px;
}
.link:hover {
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease;
}
