
.joslin {
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 1s;
}
.ironMan{
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 1s;
    height: 40vh

}

.mug{
    margin-top: 25vh;
}
.bottom{
    background-color: white;
    height: 25vh;
}
.page {
    text-align: center;
    background-color: #b02a2a;
    color: black;
    height: 65vh;
}
@keyframes mymove {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}
.float{
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 1s;
}
.backArrow{
    animation-name : mymove3;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 1s;
}
@keyframes mymove3 {
    from {transform: translateX(0px);}
    to {transform: translateX(20px);}
}
.linkedin{
    margin-left: 40vw;

}
.title{
    color: white;
    margin-right: 60vw;
    position: sticky;
}
.row1{
    display: flex;
}