.jpage{
    background-color: rgb(12, 12, 12);
    width: 100vw;
    height: 100vh;
}
.jpage2{
    background-color: rgb(12, 12, 12);
    width: 100vw;
    height: 30vh;
}
.jimg{
    width: 30vw;
    height: 60vh;
    margin-top: 10vh;
    margin-left: 2vw;
}
.jedu{
    width: 100vw;
    height: 100vh;
    background-color: beige;
}
.jh1{
    color: rgb(29, 221, 189);;
    font-size: 4rem;

}
.jh2{
    color: white;
    font-size: 3rem;
}
.jh3{
    color: white;
}
.jbtn{
    background-color: rgb(29, 221, 189);
    color: white;
    width: 10vw;
    height: 7vh;
    animation-name : mymove1;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 1s;
}
.rightbtn{
    background-color: rgb(29, 221, 189);
    color: white;
    width: 10vw;
    height: 7vh;
    margin-top: 2vh;
    margin-left: 85vw;
}
@keyframes mymove {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}
@keyframes mymove1 {
    from {transform: translateY(0px);}
    to {transform: translateY(10px);}
}
.jtext{
    margin-top: 5vh;
    margin-left: 25vw;
    text-align: left;
}

.down{

}

.classes{
    margin-left: 20vw;
    margin-top: 6vh;
}
.jlow{
    margin-top: 6vh;
}