.jpage{
    background-color: rgb(12, 12, 12);
    width: 100vw;
    height: 100vh;
}

.jimg{
    width: 30vw;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 1vw;
}

.jh1{
    color: rgb(29, 221, 189);;
    font-size: 4rem;

}
.jh2{
    color: white;
    font-size: 3rem;
}
.jh3{
    color: white;
}
.jbtn{
    background-color: rgb(29, 221, 189);
    color: white;
    width: 10vw;
    height: 7vh;
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 1s;
}
@keyframes mymove {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}
.jtext{
    margin-top: 20vh;
    margin-left: 25vw;
    text-align: left;

}

.down{

}