.section{
    background-color: #3b3939;
    color: #1e4ba8;
    width: 80vw;
    height: 35vh;
    margin-left: 10vw;
    border-radius: 20px;
    margin-top: 2vh;
    overflow: scroll;
}
.sect2{
    width: 40vw;
    height: 8vh;
    background-color: gold;
    margin-top: 2vh;
    border-radius: 10px;
}
.title{
    color: #5289fa;
    margin-right: 25vw;
}

.li{
    color: #ffffff;
}

.align2{
    text-align: left;

}

.leftt{
    text-align: left;
    margin-left: 4vw;

}